body, html { margin: 0; padding: 0; font-family: "Overpass Mono", monospace; line-height: 1; background-color: #000; color: #fff; }

* { box-sizing: border-box; }

.center { text-align: center; }

.container { max-width: 970px; display: block; margin: 0 auto; }

input, label, select { display: block; margin: 0 auto 20px; width: 100%; }

label { margin-bottom: 5px; }

.keyboard { display: -webkit-flex; display: -ms-flex; display: flex; height: 200px; width: 100%; background-color: #fff; }

.keyboard .keys { display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-around; width: 100%; height: 100%; position: relative; }

.keyboard .keys .key { display: -webkit-inline-flex; display: -ms-inline-flex; display: inline-flex; flex: 1; height: 100%; background-color: #fff; border: 1px solid #000; cursor: pointer; box-sizing: border-box; }

.keyboard .keys .key.black { width: 8%; height: 80%; transform: translateX(-50%); background-color: #000; margin-right: -13%; border: 10px solid #fff; border-top: 0; }

.oscillators { width: 100%; display: -webkit-flex; display: -ms-flex; display: flex; justify-content: space-around; padding: 20px 15px; }

@media (max-width: 767px) { .oscillators { flex-direction: column; }
  .oscillators div[class^='osc'] { padding: 5px 15px; } }
